<!--this page should have fields for a username to be entered, email used to create account, and a sumbit button. also will have a simple header "forgotten pw page"-->

<!DOCTYPE html>
    <html>
        <head>
            <title>
                Page Title
            </title>
            
            <link rel="stylesheet" href="Login.css">
             <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
             
        </head>
        <body  style="background-color:lightgrey;">
            <p class="main" align="center">Forgot Password<p>
            <div class="container" style="width:95%">
            <div class="well well-lg" style="width:95%"> 
            
            <p style="font-size: 16px;">
            Please fill in the following information to receive an email reminder of your password.
            </p>
            <form action="BrokerHome.html" method="get"><b>
                Username
                <br>
                <input type="text" name="firstname" placeholder="Username" required>
                <br><br>
                Enter new Password
                <br>
                <input type="text" name="lastname" placeholder="Password" required>
                <br>
                <br>
                <input type="submit" value="Submit" style="font-size: 18px;">
           </b> </form>
            </div>
            </div>
<img src="money_tree.png" style=" position: absolute;bottom:0%; right:0%; z-index:-3"/>
        </body>
    </html>